<li class='clearfix record' id="<%= dom_id(product) -%>">
  <div class='clearfix'>
    <span class='title'>
      <%= product.title_with_meta.html_safe %>
      <% if ::Refinery.i18n_enabled? and ::Refinery::I18n.frontend_locales.many? and
            (locales = product.translations.map(&:locale)).present? %>
        <span class='preview'>
          <% ([product.translation.try(:locale)] | locales).each do |locale| %>
            <%= link_to refinery_icon_tag("flags/#{locale}.png", :size => '16x11'),
                        edit_admin_product_path(product, :switch_locale => locale),
                        :class => 'locale' %>
          <% end %>
        </span>
      <% end %>
    </span>

    <span class='actions'>
      <%= link_to refinery_icon_tag('application_go.png'), product.url,
                  :target => "_blank",
                  :title => t('.view_live_html') %>
      <%= link_to refinery_icon_tag('application_edit.png'), edit_admin_product_path(product),
                  :title => t('edit', :scope => 'admin.products') %>
      <%= link_to refinery_icon_tag('delete.png'), admin_product_path(product),
                  :class => "cancel confirm-delete",
                  :title => t('delete', :scope => 'admin.products'),
                  :confirm => t('message', :scope => 'shared.admin.delete', :title => product.title_with_meta.gsub(/\ ?<em>.*<\/em>/, "")),
                  :method => :delete if product.deletable? %>
    </span>
  </div>
  <ul class='nested'>
    <%= render :partial => 'product', :collection => product.children %>
  </ul>
</li>
